<div class="jumbotron text-center">
<h1>MEAN Authentication App</h1>
    <p class="lead"> Wel Come to our custom MEAN authentication application built from scratch</p>
    <div>        
        <a class="btn btn-primary" [routerLink]="'[/register]'">Register</a>
        <a class="btn btn-primary" [routerLink]="'[/Login]'">Login</a>
    </div>
</div>

<div class="row">
    
        <div class="col-md-4">
                <h3>Security Information </h3>
                <p> A Application is designed with Node express server. Angular JS and works with </p>
        </div>

        <div class="col-md-4">
                <h3> Express Backend</h3>
                <p> A Application is designed with Node express server. Angular JS and works with </p>
        </div>

        <div class="col-md-4">
                <h3> Express Backend</h3>
                <p> A Application is designed with Node express server. Angular JS and works with </p>    
        </div>
    
</div>
        